* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #171717;

  #lootDiv {
    justify-self: last baseline;
    display: flex;
    position: relative;
    align-items: center;
    transform: scale(0.2);
    justify-content: center;
    transform-style: preserve-3d;
    animation: appear 2s 1 linear;
    #light {
      width: 800px;
      height: 800px;
      position: absolute;
      border-radius: 50%;
      background-size: cover;
      transform: translateZ(-200px);
      animation: roll 3s infinite linear;
      background-image: url("images/light.png");
    }
    #loot {
      width: 250px;
      height: 250px;
      position: absolute;
      transform: scale(0);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: lootWin 3s 2s ease-out 1 forwards;
      background-image: url("images/3dTralalero.png");
    }

    #cubeDisplay {
      transform-style: preserve-3d;
      transform: rotateX(-30deg) rotateY(-30deg);
      animation: rotating 1 2s ease-out forwards alternate;

      #cube {
        width: 200px;
        height: 200px;
        position: relative;
        transform: translateZ(-100px);
        transform-style: preserve-3d;

        // classes das faces
        .face {
          width: 200px !important;
          position: absolute !important;
          background-color: saddlebrown;
        }
        .facex {
          height: 140px !important;
        }
        .facef {
          height: 60px !important;
        }
        .facea {
          height: 200px !important;
        }

        // personalização das faces
        #front {
          background-size: 102% auto;
          background-position: -3px -63px;
          background-image: url("images/ladoBau.png");
          transform: translateZ(200px) translateY(60px);
        }
        #back {
          background-size: 102% auto;
          background-position: -3px -63px;
          background-image: url("images/ladoBau.png");
          transform: rotateY(180deg) translateY(60px);
        }
        #left {
          background-size: 102% auto;
          background-position: -3px -63px;
          background-image: url("images/ladoBau.png");
          transform: rotateY(-90deg) translateZ(100px) translateX(100px)
            translateY(60px);
        }
        #right {
          background-size: 102% auto;
          background-position: -3px -63px;
          background-image: url("images/ladoBau.png");
          transform: rotateY(90deg) translateZ(100px) translateX(-100px)
            translateY(60px);
        }

        #lock {
          justify-self: center;
          width: 25px !important;
          height: 60px !important;
          background-image: url("images/lockBau.png");
          background-size: 100%;
          position: absolute !important;
          transform-origin: bottom center;
          animation: lock 0.75s 2s ease-in-out 1 forwards;
          transform: translateZ(201px) translateY(40px);
        }

        #frontf {
          transform: translateZ(200px);
          transform-origin: bottom center;
          background-image: url("images/frenteBau.png");
          background-size: 100% auto;
          animation: ff 0.75s 2s ease-in-out 1 forwards;
        }
        #backb {
          background-image: url("images/ladoBau.png");
          background-size: 100% auto;
          transform-origin: bottom center;
          transform: rotateY(180deg);
          animation: bb 0.75s 2s ease-in-out 1 forwards;
        }
        #leftl {
          background-image: url("images/ladoBau.png");
          background-size: 100% auto;
          transform-origin: bottom center;
          animation: ll 0.75s 2s ease-in-out 1 forwards;
          transform: rotateY(-90deg) translateZ(100px) translateX(100px);
        }
        #rightr {
          background-image: url("images/ladoBau.png");
          background-size: 100% auto;
          transform-origin: bottom center;
          animation: rr 0.75s 2s ease-in-out 1 forwards;
          transform: rotateY(90deg) translateZ(100px) translateX(-100px);
        }
        #top {
          background-size: cover;
          width: 200px !important;
          height: 200px !important;
          transform-origin: 100px 60px;
          position: absolute !important;
          background-image: url("images/topoBau.png");
          animation: openbox 0.75s 2s ease-in-out 1 forwards;
          transform: rotateX(90deg) translateY(60px) translateZ(60px);
        }
        #bottom {
          background-size: cover;
          background-image: url("images/topoBau.png");
          transform: rotateX(-90deg) translateZ(100px) translateY(-100px);
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(1770deg);
  }
}

@keyframes openbox {
  from {
    transform: rotateX(90deg) translateY(60px) translateZ(60px);
  }
  to {
    transform: rotateX(165deg) translateY(60px) translateZ(60px);
  }
}

@keyframes lock {
  from {
    transform: rotateX(0deg) translateZ(201px) translateY(40px);
  }
  to {
    transform: rotateX(75deg) translateZ(201px) translateY(40px);
  }
}
@keyframes bb {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(75deg);
  }
}
@keyframes ff {
  from {
    transform: rotateX(0deg) translateZ(200px);
  }
  to {
    transform: rotateX(75deg) translateZ(200px);
  }
}
@keyframes rr {
  from {
    transform: rotateX(0deg) rotateY(90deg) translateZ(100px) translateX(-100px);
  }
  to {
    transform: rotateX(75deg) rotateY(90deg) translateZ(100px)
      translateX(-100px);
  }
}
@keyframes ll {
  from {
    transform: rotateX(0deg) rotateY(-90deg) translateZ(100px) translateX(100px);
  }
  to {
    transform: rotateX(75deg) rotateY(-90deg) translateZ(100px)
      translateX(100px);
  }
}

@keyframes roll {
  0% {
    scale: 0.7;
    transform: translateZ(-200px) rotateZ(0deg);
  }
  50% {
    scale: 1;
    transform: translateZ(-200px) rotateZ(180deg);
  }
  100% {
    scale: 0.7;
    transform: translateZ(-200px) rotateZ(360deg);
  }
}

@keyframes appear {
  from {
    transform: translateY(100px) scale(0);
  }
  to {
    transform: translateY(0) scale(0.2);
  }
}

@keyframes lootWin {
  0% {
    transform: translateY(80px) translateZ(0) scale(0);
  }
  50% {
    transform: translateY(-80px) translateZ(100px) scale(0.5);
  }
  100% {
    transform: translateY(0) translateZ(200px) scale(1);
  }
}
